/********************* Переменные *********************/

/*** Ширина контейнеров (Containers Width) ***/
@container-min-width: 960px;
@container-max-width: 1230px;

/*** Отступы контейнеров (Containers Padding) ***/
@container-padding: 10px;

/*** Высота блоков шаблона (Block Sizes) ***/
@header-size-height: 66px;

/*** Шрифты (Fonts) ***/
@font-base: Georgia, serif;;
@font-secondary: "PFDinTextCompProRegular", Georgia, serif;

/*** Иконки (Iconography) ***/
@icon-font-path: "../fonts/";
@icon-font-name: "glyphicons-halflings-regular";
@icon-font-svg-id: "glyphicons_halflingsregular";