/*** Белый цвет (White color) ***/

#body-white {
	/*** Элементы шаблона (Template) ***/
	background-color: #f3f3f5;
	color: #000;

	a {
		color: #000;
		text-decoration: underline;

		&:hover {
			color: #777;
		}
	}
	#header {

		.logo {
			background-image: url('../img/white/1x/logo.png');
		}
	}
	.header-inner {
		background: rgba(255, 255, 255, 0.5);
		border-bottom-color: #cdcdcd;
	}
	#topmenu {

		ul {
			background: rgba(255, 255, 255, 0.5);
		}
		a {
			color: #000;

			&:hover {
				color: #000;
			}
	    }
	    .parent {
	    	background-image: url('../img/white/1x/topmenu-arrow.png');
	    }
	}
	#footer {

		h3 {
			color: #000;
		}
		a {
			color: #777;

			&:hover {
				color: #000;
            }
		}
		.bottom {
			border-top-color: #ccc;
			color: #999;

			.logo {
				background-image: url('../img/white/1x/mini-logo.png');
			}
		}
	}
	.footer-inner {
		background: rgba(255, 255, 255, 0.5);
		border-top-color: #cdcdcd;
		color: #444;
	}

	/*** Страницы (Pages) ***/
	&.page-blog {

		.blog {
			border-right-color: #cdcdcd;

			p, p a {
				color: #999;
			}
		}
	}
	&.page-site {

		.page-heading {

			h1, h4 {
				color: #000;
			}
			h1 {
				border-bottom-color: #080808;
			}
		}
		.page-moto {

			span {
				color: #505050;
			}
		}
		.page-images img {
			border-color: #171610;
		}
		.page-product-info {

			.indicator {
				border-bottom-color: #787878;
				color: #000;

				span {
					background: #787878;
				}
			}
		}
	}

	/*** Виджеты (Widgets) ***/
	#news-widget {

		p a {
			color: #777;

			&:hover {
				color: #000;
			}
		}
	}
	#archive-widget {

		strong {
			border-bottom-color: #000;
		}
	}

	#subscription-widget {

		input {
			border-color: #cdcdcd;
			color: #cdcdcd;

			&:focus {
				color: #000;
			}
		}
		button {
			background: #000;
			color: #fff;
		}
		p {
			color: #cdcdcd;
		}
	}
	#social-widget {
		p {
			color: #cdcdcd;
		}
	}

	/*** Хелперы (Helpers) ***/
	.bordered {
		border-bottom-color: #000;
	}
}

/*** Retina ***/
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    #body-white {

    	#header .logo {
    		background-image: url('../img/white/2x/logo.png') !important;
    	}
    	#footer .logo {
    		background-image: url('../img/white/2x/mini-logo.png') !important;
    	}
    }
}