/*! normalize.css v2.1.3 | MIT License | git.io/normalize */article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
    display: block;
}

audio,canvas,video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],template {
    display: none;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

a {
    background: transparent;
}

a:focus {
    outline: thin dotted;
}

a:active,a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

mark {
    background: #ff0;
    color: #000;
}

code,kbd,pre,samp {
    font-family: monospace,serif;
    font-size: 1em;
}

pre {
    white-space: pre-wrap;
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
    font-size: 80%;
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

legend {
    border: 0;
    padding: 0;
}

button,input,select,textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button,input {
    line-height: normal;
}

button,select {
    text-transform: none;
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],html input[disabled] {
    cursor: default;
}

input[type="checkbox"],input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.hidden {
    display: none;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix {
    clear: both;
}

.clearfix:before,.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.bordered {
    text-align: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.h2_yellow,.materials_spec_l {
    color: #ffd800;
}

.materials_spec_r {
    font-style: italic;
    font-weight: bold;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 200;
    line-height: 1.1;
}

h1,h3,h4,h5,h6 {
    font-family: Georgia,serif;
    font-style: italic;
}

h1 {
    font-size: 200%;
    margin: .3em 0;
}

h2 {
    font-family: "PFDinTextCompProRegular",Georgia,serif;
    font-size: 120.0%;
    margin: .5em 0 .3em;
    text-transform: uppercase;
    letter-spacing: -0.05em;
}

h3 {
    font-size: 146.7%;
    margin: .3em 0;
}

h4 {
    font-size: 135.7%;
    margin: .3em 0;
}

h5 {
    font-size: 121.4%;
}

h6 {
    font-size: 114.3%;
}

p {
    margin: .7em 0;
}

html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
    font-family: Georgia,serif;
    line-height: 1.6;
    min-width: 960px;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

img {
    border: 0;
    display: block;
    max-width: 100%;
    height: auto;
}

#supercontainer {
    display: table;
    height: 100%;
    width: 100%;
}

.container-fluid,.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

.container-fluid:before,.container:before,.container-fluid:after,.container:after {
    content: " ";
    display: table;
}

.container-fluid:after,.container:after {
    clear: both;
}

.container-fluid:before,.container:before,.container-fluid:after,.container:after {
    content: " ";
    display: table;
}

.container-fluid:after,.container:after {
    clear: both;
}

.container-fluid {
    padding-left: 10px;
    padding-right: 10px;
    min-width: 960px;
    max-width: 1230px;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
    width: 960px;
}

#header,#content,#footer {
    clear: both;
    display: table-row;
    width: 100%;
}

.header-inner,.footer-inner {
    display: block;
    font-family: Georgia,serif;
    position: relative;
    width: 100%;
    z-index: 10;
}

#header .logo {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 200px 43px;
    float: left;
    clear: both;
    text-indent: -9999px;
    margin-top: 11.5px;
    width: 200px;
    height: 43px;
}

.header-inner {
    height: 66px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#topmenu {
    float: right;
    font-size: 114.28%;
    font-style: italic;
    font-family: Georgia,serif;
    text-align: right;
    margin: 0;
    padding: 0;
    height: 66px;
    width: 75%;
}

#topmenu li {
    display: inline-block;
    list-style: none;
    margin-left: 15px;
    position: relative;
}

#topmenu li:first-child {
    margin-left: 0;
}

#topmenu ul {
    display: none;
    position: absolute;
    overflow: hidden;
    padding: 0 7px 7px;
    text-align: left;
    margin: 0;
    top: 66px;
    left: 0;
}

#topmenu ul li {
    float: left;
    margin: 0;
    display: block;
    clear: both;
}

#topmenu ul a {
    line-height: 175%;
}

#topmenu .parent {
    background-position: 100% 52%;
    background-repeat: no-repeat;
    padding-right: 15px;
}

#topmenu a {
    line-height: 66px;
    display: block;
}

#content {
    height: 100%;
}

.content-right {
    float: left;
    min-height: 1px;
    margin-right: 5%;
    width: 55%;
}

#right {
    float: left;
    overflow: hidden;
    width: 40%;
}

#footer h3 {
    font-size: 128.6%;
    margin-bottom: .8em;
}

#footer .menu-widget {
    float: left;
    overflow: hidden;
    margin-bottom: 2.5em;
    width: 20%;
}

#footer .menu-widget ul {
    padding: 0;
    margin: 0;
    width: 100%;
}

#footer .menu-widget li {
    display: block;
    list-style: none;
    line-height: 175%;
}

#footer .bottom {
    border-top-width: 1px;
    border-top-style: solid;
    padding: 1em 0 4em;
    float: left;
    clear: both;
    font-size: 73.3%;
    overflow: hidden;
    width: 100%;
}

#footer .bottom div {
    float: left;
    overflow: hidden;
    width: 25%;
}

#footer .bottom div:first-child {
    width: 75%;
}

#footer .bottom ul {
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#footer .bottom li {
    display: inline;
    list-style: none;
    float: left;
}

#footer .bottom .separator {
    margin: 0 .3em;
}

#footer .bottom .logo {
    background-size: 148px 30px;
    float: right;
    width: 148px;
    height: 30px;
    text-indent: -9999px;
    margin-bottom: 2em;
}

#footer .bottom .contacts {
    clear: both;
    float: right;
}

.footer-inner {
    border-top-width: 1px;
    border-top-style: solid;
    padding-top: 2em;
    margin-top: 2em;
}

.pagination {
    float: left;
    margin: 2em auto 0;
    padding: 0;
    font-style: italic;
    text-align: center;
    overflow: hidden;
    width: 100%;
    clear: both;
}

.pagination:before,.pagination:after {
    content: " ";
    display: table;
}

.pagination:after {
    clear: both;
}

.pagination:before,.pagination:after {
    content: " ";
    display: table;
}

.pagination:after {
    clear: both;
}

.pagination li {
    display: inline;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.pagination a,.pagination span {
    display: inline-block;
    line-height: 30px;
    padding: 0 12px;
}

.pagination a {
    color: #000;
    text-decoration: none!important;
}

.pagination .active a,.pagination a:hover {
    border: 1px solid #000;
    border-radius: 15px;
    text-decoration: none;
    padding: 0 11px;
    line-height: 28px;
}

.pagination .prev,.pagination .next {
    font-size: 150%;
}

#body-white {
    background-color: #f3f3f5;
    color: #000;
}

#body-white a {
    color: #000;
    text-decoration: underline;
}

#body-white a:hover {
    color: #777;
}

#body-white #header .logo {
    background-image: url('../img/white/1x/logo.png');
}

#body-white .header-inner {
    background: rgba(255,255,255,0.5);
    border-bottom-color: #cdcdcd;
}

#body-white #topmenu ul {
    background: rgba(255,255,255,0.5);
}

#body-white #topmenu a {
    color: #000;
}

#body-white #topmenu a:hover {
    color: #000;
}

#body-white #topmenu .parent {
    background-image: url('../img/white/1x/topmenu-arrow.png');
}

#body-white #footer h3 {
    color: #000;
}

#body-white #footer a {
    color: #777;
}

#body-white #footer a:hover {
    color: #000;
}

#body-white #footer .bottom {
    border-top-color: #ccc;
    color: #999;
}

#body-white #footer .bottom .logo {
    background: url('../img/white/1x/mini-logo.png') 50% 50% no-repeat;
}

#body-white .footer-inner {
    background: rgba(255,255,255,0.5);
    border-top-color: #cdcdcd;
    color: #444;
}

#body-white.page-blog .blog {
    border-right-color: #cdcdcd;
}

#body-white.page-blog .blog p,#body-white.page-blog .blog p a {
    color: #999;
}

#body-white.page-site .page-heading h1,#body-white.page-site .page-heading h4 {
    color: #000;
}

#body-white.page-site .page-heading h1 {
    border-bottom-color: #080808;
}

#body-white.page-site .page-moto span {
    color: #505050;
}

#body-white.page-site .page-images img,#body-white.page-site .page-image-full {
    border-color: #171610;
}

#body-white.page-site .page-product-info .indicator {
    border-bottom-color: #787878;
    color: #000;
}

#body-white.page-site .page-product-info .indicator span {
    background: #787878;
}

#body-white #news-widget p a {
    color: #777;
}

#body-white #news-widget p a:hover {
    color: #000;
}

#body-white #archive-widget strong {
    border-bottom-color: #000;
}

#body-white #subscription-widget input {
    border-color: #cdcdcd;
    color: #cdcdcd;
}

#body-white #subscription-widget input:focus {
    color: #000;
}

#body-white #subscription-widget button {
    background: #000;
    color: #fff;
}

#body-white #subscription-widget p {
    color: #cdcdcd;
}

#body-white #social-widget p {
    color: #cdcdcd;
}

#body-white .bordered {
    border-bottom-color: #000;
}

@media(-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi) {
    #body-white #header .logo {
        background-image: url('../img/white/2x/logo.png')!important;
    }

    #body-white.page-home .logo {
        background-image: url('../img/black/2x/logo.png')!important;
    }
}

#body-black {
    background-color: #000;
    color: #fff;
}

#body-black a {
    color: #fff;
}

#body-black h1,#body-black h2,#body-black h3,#body-black h4,#body-black h5,#body-black h6 {
    color: #fff;
}

#body-black #header .logo {
    background-image: url('../img/black/1x/logo.png');
}

#body-black .header-inner {
    background: rgba(0,0,0,0.5);
    border-bottom-color: #323234;
}

#body-black #topmenu ul {
    background: rgba(0,0,0,0.8);
}

#body-black #topmenu a {
    color: #dcdcdc;
}

#body-black #topmenu a:hover {
    color: #fff;
}

#body-black #topmenu .arrow {
    background-image: url('../img/black/1x/topmenu-arrow.png');
}

#body-black #footer h3 {
    color: #fff;
}

#body-black #footer .menu-widget a {
    color: #999;
}

#body-black #footer .menu-widget a:hover {
    color: #fff;
}

#body-black #footer .bottom {
    border-top-color: #242424;
    color: #999;
}

#body-black #footer .bottom a {
    color: #999;
}

#body-black #footer .bottom .logo {
    background: url('../img/black/1x/mini-logo.png') 50% 50% no-repeat;
}

#body-black .footer-inner {
    background: rgba(0,0,0,0.5);
    border-top-color: #323234;
    color: #999;
}

#body-black.page-blog .blog {
    border-right-color: #cdcdcd;
}

#body-black.page-blog .blog p,#body-black.page-blog .blog p a {
    color: #999;
}

#body-black.page-site .page-heading h1,#body-black.page-site .page-heading h4 {
    color: #fff;
}

#body-black.page-site .page-heading h1 {
    border-bottom-color: #fff;
}

#body-black.page-site .page-moto {
    color: #fff;
}

#body-black.page-site .page-moto span {
    color: #7c7868;
}

#body-black.page-site .page-images img,#body-black.page-site .page-image-full {
    border-color: #171610;
}

#body-black.page-site .page-product-info {
    color: #b8b7b7;
}

#body-black.page-site .page-product-info .indicator {
    border-bottom-color: #d3d1cf;
    color: #fff;
}

#body-black.page-site .page-product-info .indicator span {
    background: #d3d1cf;
}

#body-black.page-site .page-product-info .note {
    color: #7c7868;
}

#body-black #news-widget p a {
    color: #777;
}

#body-black #news-widget p a:hover {
    color: #000;
}

#body-black #archive-widget strong {
    border-bottom-color: #000;
}

#body-black #subscription-widget input {
    border-color: #cdcdcd;
    color: #cdcdcd;
}

#body-black #subscription-widget input:focus {
    color: #000;
}

#body-black #subscription-widget button {
    background: #000;
    color: #fff;
}

#body-black #subscription-widget p {
    color: #cdcdcd;
}

#body-black #social-widget p {
    color: #cdcdcd;
}

#body-black .bordered {
    border-bottom-color: #fff;
}

@media(-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi) {
    #body-white #header .logo {
        background-image: url('../img/black/2x/logo.png')!important;
    }
}

#body-white.page-home .header-inner {
    background: rgba(0,0,0,0.7);
    border-bottom-color: #323234;
}

#body-white.page-home .logo {
    background-image: url('../img/black/1x/logo.png')!important;
}

#body-white.page-home #topmenu ul {
    background: rgba(0,0,0,0.8);
}

#body-white.page-home #topmenu a {
    color: #dcdcdc;
}

#body-white.page-home #topmenu a:hover {
    color: #fff;
}

#body-white.page-home #topmenu .arrow {
    background: url('../img/black/1x/topmenu-arrow.png') 100% 52% no-repeat;
}

.page-blog .blog {
    border-right-width: 1px;
    border-right-style: solid;
    float: left;
    width: 50%;
    margin-left: -1px;
    overflow: hidden;
    text-align: center;
}

.page-blog .blog img {
    max-width: 100%;
}

.page-blog .blog p {
    margin: .3em 0;
    font-size: 80%;
}

.page-blog .blog h3 {
    display: block;
    overflow: hidden;
}

.page-gallery .gallery {
    float: left;
    clear: both;
    overflow: hidden;
    margin-bottom: 2.5em;
    width: 100%;
}

.page-gallery .gallery img {
    width: 33.33%;
    float: left;
    margin: 0;
}

.page-search .search-block {
    float: left;
    clear: both;
    overflow: hidden;
    margin-bottom: 2.5em;
    width: 100%;
}

.page-search .search-block ul {
    margin: 0;
    padding: 0;
    display: block;
}

.page-search .search-block ul li {
    display: block;
    line-height: 175%;
}

.page-search .search-block ul li:before {
    content: '\2014  ';
}

.page-search .search-block ul li a:after {
    content: ' \2192';
}

.page-search .gallery img {
    max-width: 151px;
    float: left;
    margin: 0 6px 6px 0;
}

.page-search .gallery img.end {
    margin-right: 0;
}

.page-site .page-image {
    border: none!important;
    display: block;
    margin: -67px auto 0;
}

.page-site .page-heading {
    float: left;
    clear: both;
    text-align: center;
    width: 100%;
}

.page-site .page-heading h1,.page-site .page-heading h4 {
    font-family: "PFDinTextCompProRegular",Georgia,serif;
    font-size: 120.0%;
    font-style: normal;
    margin: .5em 0 .3em;
    text-transform: uppercase;
    letter-spacing: -0.05em;
}

.page-site .page-heading h1 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.page-site .page-heading span {
    font-size: 300%;
    display: block;
    clear: both;
    margin-top: .1em;
}

.page-site .page-moto {
    float: left;
    clear: both;
    text-align: right;
    margin-bottom: 2em;
    width: 100%;
}

.page-site .page-moto span {
    font-size: 80%;
}

.page-site .page-images {
    clear: both;
    float: left;
    width: 100%;
}

.page-site .page-images p {
    float: left;
    display: block;
    width: 50%;
}

.page-site .page-images img {
    margin-bottom: 1.5em;
    border-width: 1px;
    border-style: solid;
}

.page-site .page-image-full {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-width: 1px;
    border-style: solid;
    display: block;
    overflow: hidden;
    clear: both;
    margin-bottom: 1em;
    width: 100%;
    height: 500px;
}

.page-site .page-columns {
    clear: both;
    overflow: hidden;
    margin-bottom: 3.5em;
}

.page-site .page-columns div {
    float: left;
    width: 32%;
    margin-left: 2%;
}

.page-site .page-columns div:first-child {
    margin-left: 0;
}

.page-site .page-product-info {
    clear: both;
    float: left;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.page-site .page-product-info img {
    float: right;
    border: none!important;
}

.page-site .page-product-info div {
    position: absolute;
    padding-top: 1.5em;
    top: 0;
    left: 0;
    width: 100%;
}

.page-site .page-product-info h3 {
    font-size: 142.9%;
    margin-bottom: .6em;
    margin-top: 2em;
}

.page-site .page-product-info h3:first-child {
    margin-top: 0;
}

.page-site .page-product-info .indicator {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    position: relative;
}

.page-site .page-product-info .indicator:after {
    content: ' \2014';
}

.page-site .page-product-info .indicator span {
    border-radius: 7px;
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    right: -7px;
    bottom: -7px;
}

.page-site .page-product-info p {
    margin: 0 0 .3em;
}

.page-site .page-product-info .note {
    font-size: 80%;
    font-style: italic;
    margin-top: 7em;
}

.page-materials .materials-list {
    clear: both;
    float: left;
    width: 100%;
}

.page-materials .materials-list img {
    float: left;
    margin: 0;
    width: 33.33%;
}

.fancybox-info {
    background: rgba(0,0,0,0.7);
    float: left;
    font-family: Georgia,serif;
    margin: 20px 0 0 20px;
    color: #fff;
    padding: 0 1em 1em;
    width: 30%;
    min-height: 10em;
}

.fancybox-info p {
    margin: .4em 0;
    line-height: 150%;
}

.fancybox-info div {
    color: #ababab;
}

.fancybox-info div span,.fancybox-info div a {
    color: #c4b88a!important;
}

.fancybox-info .tags {
    margin-top: 1em;
}

.page-contact .diler {
    margin-top: 5em;
    width: 100%;
    clear: both;
}

.page-contact .diler:before,.page-contact .diler:after {
    content: " ";
    display: table;
}

.page-contact .diler:after {
    clear: both;
}

.page-contact .diler:before,.page-contact .diler:after {
    content: " ";
    display: table;
}

.page-contact .diler:after {
    clear: both;
}

.page-contact .diler ul {
    border-right: 1px solid #cdcdcb;
    float: left;
    padding: 1.2em 0;
    margin: 0 0 0 -1px;
    width: 20%;
}

.page-contact .diler ul li {
    display: block;
    clear: both;
    padding: .2em .5em;
}

.page-contact .diler ul li:hover,.page-contact .diler ul li.active {
    background: #000;
}

.page-contact .diler ul li:hover a,.page-contact .diler ul li.active a {
    border: 0;
    color: #fff!important;
}

.page-contact .diler ul a {
    border-bottom: 1px dashed #000;
    font-family: "PFDinTextCompProRegular",Georgia,serif;
    text-decoration: none!important;
    text-transform: uppercase;
}

.page-contact .diler div {
    border-left: 1px solid #cdcdcb;
    float: left;
    width: 75%;
    padding-left: 2%;
    margin-left: -1px;
}

.page-contact .feedback {
    clear: both;
    display: block;
    overflow: hidden;
    margin: 5em auto 0;
    text-align: center;
    width: 762px;
}

.page-contact .feedback .row {
    float: left;
    clear: both;
    width: 100%;
}

.page-contact .feedback .row div:first-child {
    margin-right: 58px;
}

.page-contact .feedback .form-group {
    float: left;
    width: 350px;
}

.page-contact .feedback .row-full .form-group {
    width: 760px;
}

.page-contact .feedback .required label:after {
    content: '*';
}

.page-contact .feedback label,.page-contact .feedback input,.page-contact .feedback textarea,.page-contact .feedback .help-block,.page-contact .feedback a,.page-contact .feedback img {
    float: left;
}

.page-contact .feedback input,.page-contact .feedback textarea {
    border: 1px solid #000;
    margin-bottom: 1.5em;
    outline: 0;
}

.page-contact .feedback label {
    font-family: "PFDinTextCompProRegular",Georgia,serif;
    font-size: 120%;
    text-transform: uppercase;
    margin-bottom: .3em;
}

.page-contact .feedback input {
    height: 29px;
    padding: 0 2%;
    width: 96%;
}

.page-contact .feedback textarea {
    padding: 1%;
    height: 80px;
    max-height: 80px;
    width: 98%;
    max-width: 98%;
}

.page-contact .feedback .row-last {
    text-align: left;
}

.page-contact .feedback .row-last .form-group {
    float: left;
    width: 20%;
}

.page-contact .feedback .row-last input {
    width: 69px;
    text-align: center;
}

.page-contact .feedback a {
    color: #b2b2b2!important;
    width: 58%;
}

.page-contact .feedback a:hover {
    color: #000!important;
}

.page-contact .feedback button {
    background: #000;
    border: 0;
    float: right;
    color: #fff;
    height: 31px;
    padding: 0 30px;
}

.page-contact .feedback img {
    border: 1px solid #000;
    border-right: 0;
    width: 72px;
    height: 29px;
}

.page-contact .feedback .has-error input,.page-contact .feedback .has-error textarea {
    border-color: red;
}

.tabs-menu {
    display: block;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.tabs-menu.center {
    text-align: center;
}

.tabs-menu li {
    display: inline-block;
    margin-left: 1.2em;
}

.tabs-menu li:first-child {
    margin-left: 0;
}

.tabs-menu a {
    border-bottom: 1px dashed #fff;
    padding: .4em .3em .2em;
    text-decoration: none;
}

.tabs-menu a:hover,.tabs-menu .active a {
    background: #fff;
    border-bottom: 0;
    color: #000!important;
    text-decoration: none;
}

.tabs-content {
    display: block;
    clear: both;
    overflow: hidden;
    width: 100%;
    text-align: center;
    padding-top: 10%;
}

.tabs-content .tabs-tab {
    display: none;
}

.tabs-content .tabs-tab:first-child {
    display: block;
}

.tabs-content .moto {
    font-family: Georgia,serif;
    font-style: italic;
    font-size: 200%;
    margin: .3em 0;
}

.tabs-content .author,.tabs-content .more {
    font-family: "PFDinTextCompProRegular",Georgia,serif;
    font-size: 120.0%;
    margin: .5em 0 .3em;
    text-transform: uppercase;
    letter-spacing: -0.05em;
}

.tabs-content .more {
    background: #000;
    clear: both;
    text-decoration: none;
    padding: .3em;
}

.widget {
    float: left;
    clear: both;
    overflow: hidden;
    width: 100%;
}

#slider-widget {
    background: #000;
    margin-top: -67px;
    display: none;
    position: absolute;
    overflow: hidden;
    height: 100%;
    z-index: 5;
}

#slider-widget .slide {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 100%;
    display: none;
    overflow: hidden;
    position: relative;
}

#slider-widget .slide:first-child {
    display: block;
}

#slider-widget .container {
    position: relative;
    height: 100%;
}

#slider-widget .more {
    color: #fff;
    text-transform: uppercase;
    font-size: 120%;
    border-bottom: 0;
    opacity: .9;
    background: #000;
    text-decoration: underline;
    padding: .5em .4em .3em .4em;
}

#slider-widget .more:hover {
    text-decoration: none;
}

#slider-widget .text {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 2em;
    opacity: 0;
}

#slider-widget .slider_h1 {
    font-size: 300%;
    text-shadow: 2px 2px #000;
    border-bottom: 0;
    opacity: .9;
}

#slider-widget .slider_hr {
    text-shadow: 2px 2px #000;
    opacity: .5;
}

#slider-widget .slider_h2 {
    font-size: 130%;
    text-shadow: 2px 2px #000;
    border-bottom: 0;
    opacity: .9;
    line-height: 1.6;
}

#slider-widget .controls-nav {
    position: absolute;
    top: 0;
    height: 100%;
    width: 4%;
}

#slider-widget .controls-nav span {
    background-image: url('../img/black/1x/materials-modal.png');
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    position: absolute;
    top: 50%;
    margin-top: -36px;
    height: 72px;
    width: 31px;
    text-indent: -9999px;
}

#slider-widget .prev {
    left: 0;
}

#slider-widget .prev span {
    background-position: 0 -72px;
    right: 0;
}

#slider-widget .next {
    right: 0;
}

#slider-widget .next span {
    background-position: 0 0;
    left: 0;
}

#last-image-widget {
    margin-bottom: 1em;
}

#last-image-widget img {
    width: 100%;
}

#last-image-widget p {
    color: #949494;
    margin: 0 0 .7em;
}

#services-widget article {
    float: left;
    overflow: hidden;
    width: 25%;
    text-align: center;
}

#repair-widget,#facilities-widget {
    float: left;
    width: 50%;
    overflow: hidden;
}

#repair-widget h1,#facilities-widget h1 {
    float: left;
    clear: both;
}

#repair-widget>ul,#facilities-widget>ul {
    border-right: 1px solid #cdcdcb;
    clear: both;
    float: left;
    margin: 0 0 0 -1px;
    padding: 10px 0;
    width: 35%;
}

#repair-widget>ul li,#facilities-widget>ul li {
    display: block;
    clear: both;
    overflow: hidden;
    list-style: none;
}

#repair-widget>ul a,#facilities-widget>ul a {
    display: block;
    padding: 10px;
    overflow: hidden;
    outline: 0;
    text-decoration: none;
    color: #000;
}

#repair-widget>ul a:hover,#facilities-widget>ul a:hover,#repair-widget>ul .active a,#facilities-widget>ul .active a {
    background: #000;
    color: #fff;
    cursor: pointer;
}

#repair-widget h2,#facilities-widget h2 {
    line-height: 150%;
    float: left;
    border-bottom: 1px dashed #000;
    padding: 0;
    margin: 0;
}

#repair-widget div,#facilities-widget div {
    border-left: 1px solid #cdcdcb;
    float: left;
    overflow: hidden;
    margin: 0 0 0 -1px;
    padding-left: 5%;
    width: 60%;
}

#repair-widget div ul,#facilities-widget div ul {
    float: left;
    display: none;
    margin: 0;
    padding: 20px 0;
    width: 100%;
}

#repair-widget div ul:first-child,#facilities-widget div ul:first-child {
    display: block;
}

#repair-widget div li,#facilities-widget div li {
    display: block;
    list-style: none;
    overflow: hidden;
}

#repair-widget div a,#facilities-widget div a {
    font-size: 121.4%;
    font-style: italic;
    line-height: 175%;
}

#repair-widget div p,#facilities-widget div p {
    color: #4b4b4b;
    font-style: italic;
}

#news-widget article {
    border-bottom: 1px solid #969696;
    margin-bottom: .3em;
    display: block;
    width: 100%;
    clear: both;
}

#news-widget article:before,#news-widget article:after {
    content: " ";
    display: table;
}

#news-widget article:after {
    clear: both;
}

#news-widget article:before,#news-widget article:after {
    content: " ";
    display: table;
}

#news-widget article:after {
    clear: both;
}

#news-widget article:last-child {
    border-bottom: 0;
}

#news-widget article h3 {
    margin-top: 0;
}

#news-widget article>p,#news-widget article a {
    color: #959595;
}

#news-widget article>p {
    margin-top: 0;
}

#news-widget article div {
    font-family: Helvetica,Arial,sans-serif;
}

#news-widget article img {
    float: left;
    margin: 0 1em .7em 0;
}

#info-widget ul {
    display: block;
    padding: 0;
    margin: 0;
}

#info-widget li {
    list-style: none;
    font-style: italic;
    display: block;
    line-height: 200%;
    clear: both;
    color: #000;
}

#archive-widget ul {
    display: block;
    margin: 0;
    padding: 0;
    font-style: italic;
}

#archive-widget ul ul {
    display: none;
    padding: 0 0 0 30px;
}

#archive-widget ul ul li {
    display: list-item;
    list-style: disc;
}

#archive-widget li {
    line-height: 175%;
    display: block;
    list-style: none;
    outline: 0;
    cursor: pointer;
}

#archive-widget li:focus ul {
    display: block;
}

#archive-widget li:focus strong {
    border: 0;
}

#archive-widget strong {
    border-bottom-width: 1px;
    border-bottom-style: dashed;
}

#subscription-widget form {
    clear: both;
    overflow: hidden;
    width: 100%;
}

#subscription-widget form input {
    border-width: 1px;
    border-style: solid;
    border-radius: 3px 0 0 3px;
    padding: 0 5px;
    float: left;
    font-style: italic;
    outline: 0;
    height: 30px;
    width: 62%;
}

#subscription-widget form button {
    border: 0;
    border-radius: 0 3px 3px 0;
    padding: 0;
    height: 32px;
    width: 34%;
}

#subscription-widget form p {
    float: left;
    clear: both;
    margin-top: 1.2em;
    font-style: italic;
}

#social-widget ul {
    display: block;
    margin: 0;
    padding: 0;
    font-style: italic;
}

#social-widget ul a {
    float: left;
    padding-top: 38px;
    margin-left: 20px;
}

#social-widget ul li {
    display: block;
    float: left;
    list-style: none;
}

#social-widget ul li:first-child a {
    margin-left: 0;
}

#social-widget p {
    clear: both;
    float: left;
    font-style: italic;
    margin-top: 1em;
}

@font-face {
    font-family:'Glyphicons Halflings';src:url('../fonts/glyphicons-halflings-regular.eot');src:url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),url('../fonts/glyphicons-halflings-regular.woff') format('woff'),url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-asterisk:before {
    content: "\2a";
}

.glyphicon-plus:before {
    content: "\2b";
}

.glyphicon-euro:before {
    content: "\20ac";
}

.glyphicon-minus:before {
    content: "\2212";
}

.glyphicon-cloud:before {
    content: "\2601";
}

.glyphicon-envelope:before {
    content: "\2709";
}

.glyphicon-pencil:before {
    content: "\270f";
}

.glyphicon-glass:before {
    content: "\e001";
}

.glyphicon-music:before {
    content: "\e002";
}

.glyphicon-search:before {
    content: "\e003";
}

.glyphicon-heart:before {
    content: "\e005";
}

.glyphicon-star:before {
    content: "\e006";
}

.glyphicon-star-empty:before {
    content: "\e007";
}

.glyphicon-user:before {
    content: "\e008";
}

.glyphicon-film:before {
    content: "\e009";
}

.glyphicon-th-large:before {
    content: "\e010";
}

.glyphicon-th:before {
    content: "\e011";
}

.glyphicon-th-list:before {
    content: "\e012";
}

.glyphicon-ok:before {
    content: "\e013";
}

.glyphicon-remove:before {
    content: "\e014";
}

.glyphicon-zoom-in:before {
    content: "\e015";
}

.glyphicon-zoom-out:before {
    content: "\e016";
}

.glyphicon-off:before {
    content: "\e017";
}

.glyphicon-signal:before {
    content: "\e018";
}

.glyphicon-cog:before {
    content: "\e019";
}

.glyphicon-trash:before {
    content: "\e020";
}

.glyphicon-home:before {
    content: "\e021";
}

.glyphicon-file:before {
    content: "\e022";
}

.glyphicon-time:before {
    content: "\e023";
}

.glyphicon-road:before {
    content: "\e024";
}

.glyphicon-download-alt:before {
    content: "\e025";
}

.glyphicon-download:before {
    content: "\e026";
}

.glyphicon-upload:before {
    content: "\e027";
}

.glyphicon-inbox:before {
    content: "\e028";
}

.glyphicon-play-circle:before {
    content: "\e029";
}

.glyphicon-repeat:before {
    content: "\e030";
}

.glyphicon-refresh:before {
    content: "\e031";
}

.glyphicon-list-alt:before {
    content: "\e032";
}

.glyphicon-lock:before {
    content: "\e033";
}

.glyphicon-flag:before {
    content: "\e034";
}

.glyphicon-headphones:before {
    content: "\e035";
}

.glyphicon-volume-off:before {
    content: "\e036";
}

.glyphicon-volume-down:before {
    content: "\e037";
}

.glyphicon-volume-up:before {
    content: "\e038";
}

.glyphicon-qrcode:before {
    content: "\e039";
}

.glyphicon-barcode:before {
    content: "\e040";
}

.glyphicon-tag:before {
    content: "\e041";
}

.glyphicon-tags:before {
    content: "\e042";
}

.glyphicon-book:before {
    content: "\e043";
}

.glyphicon-bookmark:before {
    content: "\e044";
}

.glyphicon-print:before {
    content: "\e045";
}

.glyphicon-camera:before {
    content: "\e046";
}

.glyphicon-font:before {
    content: "\e047";
}

.glyphicon-bold:before {
    content: "\e048";
}

.glyphicon-italic:before {
    content: "\e049";
}

.glyphicon-text-height:before {
    content: "\e050";
}

.glyphicon-text-width:before {
    content: "\e051";
}

.glyphicon-align-left:before {
    content: "\e052";
}

.glyphicon-align-center:before {
    content: "\e053";
}

.glyphicon-align-right:before {
    content: "\e054";
}

.glyphicon-align-justify:before {
    content: "\e055";
}

.glyphicon-list:before {
    content: "\e056";
}

.glyphicon-indent-left:before {
    content: "\e057";
}

.glyphicon-indent-right:before {
    content: "\e058";
}

.glyphicon-facetime-video:before {
    content: "\e059";
}

.glyphicon-picture:before {
    content: "\e060";
}

.glyphicon-map-marker:before {
    content: "\e062";
}

.glyphicon-adjust:before {
    content: "\e063";
}

.glyphicon-tint:before {
    content: "\e064";
}

.glyphicon-edit:before {
    content: "\e065";
}

.glyphicon-share:before {
    content: "\e066";
}

.glyphicon-check:before {
    content: "\e067";
}

.glyphicon-move:before {
    content: "\e068";
}

.glyphicon-step-backward:before {
    content: "\e069";
}

.glyphicon-fast-backward:before {
    content: "\e070";
}

.glyphicon-backward:before {
    content: "\e071";
}

.glyphicon-play:before {
    content: "\e072";
}

.glyphicon-pause:before {
    content: "\e073";
}

.glyphicon-stop:before {
    content: "\e074";
}

.glyphicon-forward:before {
    content: "\e075";
}

.glyphicon-fast-forward:before {
    content: "\e076";
}

.glyphicon-step-forward:before {
    content: "\e077";
}

.glyphicon-eject:before {
    content: "\e078";
}

.glyphicon-chevron-left:before {
    content: "\e079";
}

.glyphicon-chevron-right:before {
    content: "\e080";
}

.glyphicon-plus-sign:before {
    content: "\e081";
}

.glyphicon-minus-sign:before {
    content: "\e082";
}

.glyphicon-remove-sign:before {
    content: "\e083";
}

.glyphicon-ok-sign:before {
    content: "\e084";
}

.glyphicon-question-sign:before {
    content: "\e085";
}

.glyphicon-info-sign:before {
    content: "\e086";
}

.glyphicon-screenshot:before {
    content: "\e087";
}

.glyphicon-remove-circle:before {
    content: "\e088";
}

.glyphicon-ok-circle:before {
    content: "\e089";
}

.glyphicon-ban-circle:before {
    content: "\e090";
}

.glyphicon-arrow-left:before {
    content: "\e091";
}

.glyphicon-arrow-right:before {
    content: "\e092";
}

.glyphicon-arrow-up:before {
    content: "\e093";
}

.glyphicon-arrow-down:before {
    content: "\e094";
}

.glyphicon-share-alt:before {
    content: "\e095";
}

.glyphicon-resize-full:before {
    content: "\e096";
}

.glyphicon-resize-small:before {
    content: "\e097";
}

.glyphicon-exclamation-sign:before {
    content: "\e101";
}

.glyphicon-gift:before {
    content: "\e102";
}

.glyphicon-leaf:before {
    content: "\e103";
}

.glyphicon-fire:before {
    content: "\e104";
}

.glyphicon-eye-open:before {
    content: "\e105";
}

.glyphicon-eye-close:before {
    content: "\e106";
}

.glyphicon-warning-sign:before {
    content: "\e107";
}

.glyphicon-plane:before {
    content: "\e108";
}

.glyphicon-calendar:before {
    content: "\e109";
}

.glyphicon-random:before {
    content: "\e110";
}

.glyphicon-comment:before {
    content: "\e111";
}

.glyphicon-magnet:before {
    content: "\e112";
}

.glyphicon-chevron-up:before {
    content: "\e113";
}

.glyphicon-chevron-down:before {
    content: "\e114";
}

.glyphicon-retweet:before {
    content: "\e115";
}

.glyphicon-shopping-cart:before {
    content: "\e116";
}

.glyphicon-folder-close:before {
    content: "\e117";
}

.glyphicon-folder-open:before {
    content: "\e118";
}

.glyphicon-resize-vertical:before {
    content: "\e119";
}

.glyphicon-resize-horizontal:before {
    content: "\e120";
}

.glyphicon-hdd:before {
    content: "\e121";
}

.glyphicon-bullhorn:before {
    content: "\e122";
}

.glyphicon-bell:before {
    content: "\e123";
}

.glyphicon-certificate:before {
    content: "\e124";
}

.glyphicon-thumbs-up:before {
    content: "\e125";
}

.glyphicon-thumbs-down:before {
    content: "\e126";
}

.glyphicon-hand-right:before {
    content: "\e127";
}

.glyphicon-hand-left:before {
    content: "\e128";
}

.glyphicon-hand-up:before {
    content: "\e129";
}

.glyphicon-hand-down:before {
    content: "\e130";
}

.glyphicon-circle-arrow-right:before {
    content: "\e131";
}

.glyphicon-circle-arrow-left:before {
    content: "\e132";
}

.glyphicon-circle-arrow-up:before {
    content: "\e133";
}

.glyphicon-circle-arrow-down:before {
    content: "\e134";
}

.glyphicon-globe:before {
    content: "\e135";
}

.glyphicon-wrench:before {
    content: "\e136";
}

.glyphicon-tasks:before {
    content: "\e137";
}

.glyphicon-filter:before {
    content: "\e138";
}

.glyphicon-briefcase:before {
    content: "\e139";
}

.glyphicon-fullscreen:before {
    content: "\e140";
}

.glyphicon-dashboard:before {
    content: "\e141";
}

.glyphicon-paperclip:before {
    content: "\e142";
}

.glyphicon-heart-empty:before {
    content: "\e143";
}

.glyphicon-link:before {
    content: "\e144";
}

.glyphicon-phone:before {
    content: "\e145";
}

.glyphicon-pushpin:before {
    content: "\e146";
}

.glyphicon-usd:before {
    content: "\e148";
}

.glyphicon-gbp:before {
    content: "\e149";
}

.glyphicon-sort:before {
    content: "\e150";
}

.glyphicon-sort-by-alphabet:before {
    content: "\e151";
}

.glyphicon-sort-by-alphabet-alt:before {
    content: "\e152";
}

.glyphicon-sort-by-order:before {
    content: "\e153";
}

.glyphicon-sort-by-order-alt:before {
    content: "\e154";
}

.glyphicon-sort-by-attributes:before {
    content: "\e155";
}

.glyphicon-sort-by-attributes-alt:before {
    content: "\e156";
}

.glyphicon-unchecked:before {
    content: "\e157";
}

.glyphicon-expand:before {
    content: "\e158";
}

.glyphicon-collapse-down:before {
    content: "\e159";
}

.glyphicon-collapse-up:before {
    content: "\e160";
}

.glyphicon-log-in:before {
    content: "\e161";
}

.glyphicon-flash:before {
    content: "\e162";
}

.glyphicon-log-out:before {
    content: "\e163";
}

.glyphicon-new-window:before {
    content: "\e164";
}

.glyphicon-record:before {
    content: "\e165";
}

.glyphicon-save:before {
    content: "\e166";
}

.glyphicon-open:before {
    content: "\e167";
}

.glyphicon-saved:before {
    content: "\e168";
}

.glyphicon-import:before {
    content: "\e169";
}

.glyphicon-export:before {
    content: "\e170";
}

.glyphicon-send:before {
    content: "\e171";
}

.glyphicon-floppy-disk:before {
    content: "\e172";
}

.glyphicon-floppy-saved:before {
    content: "\e173";
}

.glyphicon-floppy-remove:before {
    content: "\e174";
}

.glyphicon-floppy-save:before {
    content: "\e175";
}

.glyphicon-floppy-open:before {
    content: "\e176";
}

.glyphicon-credit-card:before {
    content: "\e177";
}

.glyphicon-transfer:before {
    content: "\e178";
}

.glyphicon-cutlery:before {
    content: "\e179";
}

.glyphicon-header:before {
    content: "\e180";
}

.glyphicon-compressed:before {
    content: "\e181";
}

.glyphicon-earphone:before {
    content: "\e182";
}

.glyphicon-phone-alt:before {
    content: "\e183";
}

.glyphicon-tower:before {
    content: "\e184";
}

.glyphicon-stats:before {
    content: "\e185";
}

.glyphicon-sd-video:before {
    content: "\e186";
}

.glyphicon-hd-video:before {
    content: "\e187";
}

.glyphicon-subtitles:before {
    content: "\e188";
}

.glyphicon-sound-stereo:before {
    content: "\e189";
}

.glyphicon-sound-dolby:before {
    content: "\e190";
}

.glyphicon-sound-5-1:before {
    content: "\e191";
}

.glyphicon-sound-6-1:before {
    content: "\e192";
}

.glyphicon-sound-7-1:before {
    content: "\e193";
}

.glyphicon-copyright-mark:before {
    content: "\e194";
}

.glyphicon-registration-mark:before {
    content: "\e195";
}

.glyphicon-cloud-download:before {
    content: "\e197";
}

.glyphicon-cloud-upload:before {
    content: "\e198";
}

.glyphicon-tree-conifer:before {
    content: "\e199";
}

.glyphicon-tree-deciduous:before {
    content: "\e200";
}

@font-face {
    font-family:'PFDinTextCompProRegular';src:url('../fonts/pfdintextcondpro-regular.eot');src:url('../fonts/pfdintextcondpro-regular.eot') format('embedded-opentype'),url('../fonts/pfdintextcondpro-regular.woff') format('woff'),url('../fonts/pfdintextcondpro-regular.ttf') format('truetype'),url('../fonts/pfdintextcondpro-regular.svg#PFDinTextCompProRegular') format('svg');
}

.discount{
position: fixed;
bottom: 20px;
right: 20px;
}